# Prerequisites
*.d

# Compiled Object files
*.slo
*.lo
*.o
*.obj

# Precompiled Headers
*.gch
*.pch

# Linker files
*.ilk

# Debugger Files
*.pdb

# Compiled Dynamic libraries
*.so
*.dylib
*.dll

# Fortran module files
*.mod
*.smod

# Compiled Static libraries
*.lai
*.la
*.a
*.lib

# Executables
*.exe
*.out
*.app

# Generated documentation
docs/api-developer/
docs/api-user/
docs/api-tests/

# debug information files
*.dwo

# cursor indexing ignore
.cursorindexingignore
.specstory/

build/

.gemini/
gha-creds-*.json
